<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lancia Beta</title>
  <link rel="stylesheet" href="lanciabeta.component.css"> <!-- Link to the CSS file -->
</head>

<body>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full"
              src="https://commons.wikimedia.org/wiki/File:Lancia_Beta_HPE_registered_April_1982_1995cc.jpg">
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Ланча Бета</h2>
          <p class="leading-relaxed text-base">Ланча Бета е проектирана още през 1970 г., след преминаването на
            производителя към Фиат. Автомобилът е разработван върху обновената платформа на Фиат 124. Автомобилът е
            показан на Автомобилното изложение в Торино през 1972 г., а по-късно и на изложението във Франкфурт.</p>
          <a href="https://www.classicandsportscar.com/features/buyers-guide-lancia-beta-hpe-coupe-and-spider"
            target="_blank" rel="noopener noreferrer"
            class="custom-button">Връзка 2</a> <!-- Added custom-button class -->
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full"
              src="https://commons.wikimedia.org/wiki/File:Lancia_Beta_HPE.jpg">
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Ланча Бета Спайдер</h2>
          <p class="leading-relaxed text-base">Автомобилът е произвеждан в Торино. От седан версията на модела са
            произведени 194 916 екземпляра, от Ланча Бета Купе – 113 623 екземпляра, от Ланча Бета ХПЕ – 71 257
            екземпляра, от Ланча Бета Спайдер – 8594.</p>
          <a href="https://www.fcaheritage.com/en-uk/heritage/stories/lancia-beta-hpe" target="_blank"
            rel="noopener noreferrer"
            class="custom-button">Връзка 1</a> <!-- Added custom-button class -->
        </div>
      </div>
    </div>
  </section>
</body>

</html>

