<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lancia Gamma</title>
  <link rel="stylesheet" href="lanciagamma.component.css"> 
</head>

<body>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full"
              src="https://commons.wikimedia.org/wiki/File:Lancia_Beta_HPE_registered_April_1982_1995cc.jpg">
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Ланча Гама</h2>
          <p class="leading-relaxed text-base">Ланча Гамма е автомобил създаден да наследи седана Ланча 2000.
             През 1974 – 1975 се развива проектът Ланча Гамма. Марката обновява моделната си гама през 70-те години на XX век
              и с автомобила Гамма, моделът се връща към корените си. Името на модела е като на третия автомобил конструиран
               от Винченца Ланча. Конструирането на автомобила е ръководено от професор Антонио Фесиа, който е ръководител
                и при производството на Ланча Аппиа, Ланча Фулвиа и Ланча Флавиа. Върху автомобила са възложени големи надежди
                 за пазарен успех. Въпреки че не са постигнати и са реализирани по-малко продажби, 
            автомобилът е високо ценен заради качествата си</p>
          <a href="https://automedia.investor.bg/a/2-novini/54841-edna-lancia-koyato-maltsina-pomnyat"
            target="_blank" rel="noopener noreferrer"
            class="custom-button">Малко история за модела</a> 
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full"
              src="https://commons.wikimedia.org/wiki/File:Lancia_Beta_HPE.jpg">
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Ланча Гама спортна верия</h2>
          <p class="leading-relaxed text-base">Gamma получа фейслифт в средата на моделния си живот, в рамките на който двигателите 
            от карбуратор преминават
             към впръскване на горивото Bosch L-Jetronic,появява се и нова радиаторна решетка, нови 15-цолови колела и основно
              ревизиран салон.</p>
          <a href="https://autobild.bg/%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%BD%D0%B8-%D0%BA%D0%BB%D0%B0%D1%81%D0%B8%D0%BA%D0%B8-%D0%BE%D1%82-70-%D1%82%D0%B5-%D0%B3%D0%BE%D0%B4%D0%B8%D0%BD%D0%B8-lancia-gamma-berlina-1976-84/" target="_blank"
            rel="noopener noreferrer"
            class="custom-button">Връзка със статия в АутоБилд</a> 
        </div>
      </div>
    </div>
  </section>
</body>

</html>

